.top {
    width: 55%; /*zmienić na 650 dla pełnego*/
    height: 45px;
}


.menu {
    text-align: right;
    position: relative;
    top: 10px;
}

th.menu {
    display: inline-block;
}

th.logo-container {
    display: inline-block;
}

.top tr {
    display: flex;
    justify-content: space-between;
}

header{
    background-color: #bebebe;
    color: #14213d;
    background-image: linear-gradient(to bottom, #bebebe, #E7E7E7);

    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: medium;
    position: fixed; top: 0.001px;
    right: 0.5px;
    width: 100%;
    padding: 5px;
    border-left: 30px;
    border-color: #bebebe;
    z-index: 10;    
    
}

.logo{
    text-align: left;
    position: fixed;
    left: 10px
}

.icon{
    position: relative; top: 3px;
}


body{background-color: #ffffff;}

footer{
    font-size: small;
    text-align: center;
    background-color: #14213d;
    color: #feffff;
    padding-top: 1px;
    padding-left: 30px;
    position: relative; top: 30px;
    width: 100%;

}
table{
    margin: auto;
}

.naglowek{
    
    font-family: Arial;
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(45deg,#14213D, #527F90);
    color: transparent;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    top: 40px;

    
}

.naglowek_maly{
    position: relative; top: 13px;
    font-family: Arial;
    font-size: 30px;
    color: #17252A;
}


.mapa{

    font-size: large;
    text-align: center;
    font-family: Arial;
    color: #14213d;
    position: relative; top:30px;
}



.tabela{
    text-align: center;
    font-size: xx-large;
    color: #17252A;
}

.info{
    text-align: center;
    font-size: large;
    font-family: Arial;
    color: #14213d;
    position: relative; top:30px;
}

.info_firma{
    text-align: center;
    font-size: large;
    font-family: Arial;
    color: #14213d;
    position: relative; top:100px;
}

.lista{
    font-size: larger;
    font-weight: 400;
    text-align: justify;
    align-items: center;
    height: 80%;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

.big_logo{
    text-align: center;
    position: relative; top: 40px;
}

.feed{
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    position: relative;
    top: 10px;
}

/*  ***LINKI***   */

a{
    color: #14213d;
    text-decoration: none;
}

a:active{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #939A7F;
    text-decoration: none;
}
