.top{
    text-align: right;
    position: relative;
    right: 15px;
    font-size: large;
}

header{
    background-color: #bebebe;
    color: #14213d;

    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: medium;
    position: fixed; top: 0.001px;
    right: 0.5px;
    width: 100%;
    padding: 5px;
    border-left: 30px;
    border-color: #bebebe;
    z-index: 10;    
    
}

.logo{
    float: left;
    position: relative; left: 20px;
}

.icon{
    position: relative; top: 3px;
}


body{background-color: #e5e5e5;}

footer{
    font-size: small;
    text-align: center;
    background-color: #14213d;
    color: #feffff;
    padding-top: 1px;
    padding-left: 30px;
    position: relative; top: 30px;
    width: 100%;

}
table{
    margin: auto;
}

.naglowek{
    
    font-family: Arial;
    font-size: 50px;
    color: #17252A;
}

.naglowek_maly{
    position: relative; top: 13px;
    font-family: Arial;
    font-size: 30px;
    color: #17252A;
}


.mapa{

    font-size: large;
    text-align: center;
    font-family: Arial;
    color: #14213d;
    position: relative; top:30px;
}



.tabela{
    text-align: center;
    font-size: xx-large;
    color: #17252A;
}

.info{
    text-align: center;
    font-size: large;
    font-family: Arial;
    color: #14213d;
    position: relative; top:30px;
}

.info_firma{
    text-align: center;
    font-size: large;
    font-family: Arial;
    color: #14213d;
    position: relative; top:100px;
}

.lista{
    font-size: smaller;
    position: relative; top: 20px;
    text-align: justify;
}

.big_logo{
    text-align: center;
    position: relative; top: 40px;
}

/*  ***LINKI***   */

a{
    color: #14213d;
    text-decoration: none;
}

a:active{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #FCA311;
    text-decoration: none;
}

